<mat-nav-list>
    <div class="profile-card">
        <div>
            <img src="../../../../assets/images/Team/Naveen.jpg" alt="Photo">
        </div>  
        <div class="header">
            <h2>Your Name</h2>
            <h4>Your Email Id</h4>
            <mat-slide-toggle color="green" class="no-hover-effect">Online</mat-slide-toggle>
        </div>
    </div>
    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Menu</h2> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/consulationhistory">
        <mat-icon>history</mat-icon>
        Consulation History</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/inconsultation">
        <mat-icon> chat</mat-icon>
        In Consultation</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/appointments">
        <mat-icon> chat</mat-icon>
        Appointments</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/mynetwork">
        <mat-icon> contacts</mat-icon>
        My Network
    </a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/payments">
        <mat-icon> contacts</mat-icon>
        Payments
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/calender">
        <mat-icon>calendar_today</mat-icon>
        Calender
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articlesAndPublications">
        <mat-icon>calendar_today</mat-icon>
        Articles & Publications
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/reviews">
        <mat-icon>calendar_today</mat-icon>
        Customer Reviews
    </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/visitors">
        <mat-icon>calendar_today</mat-icon>
        Visitors
    </a> -->
</mat-nav-list>