<header id="header" class="header-transparent" style="background: #1e4356;">
    <div class="container">
        <!--Header Logo-->
        <div class="logo float-left">
            <a href="index.html"><img src="../../assets/images/Logo/logo.png" height="70px" alt=""
                    class="img-fluid"></a>
        </div>
    </div>
</header>


<mat-card class="mat-elevation-z0 outline">
    <mat-card-content>
        <form #forgetPasswordForm="ngForm">
            <mat-icon>person</mat-icon>
            <h1>Reset Password</h1>
            <mat-error *ngIf="!forgetPasswordValid">
                The username and password were not recognized
            </mat-error>

            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="username" name="username" required>
                <mat-error>
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>

            <br>
            <button mat-raised-button color="primary" [disabled]="!forgetPasswordForm.form.valid"
               (click) ="opensweetalert()" >Submit</button>

        </form>

        <br />
        <p>Already have an account?<br>
            <a routerLink="/login">Log In</a>
        </p>
        <br />

        <p>Don't have an account?<br>
            <a routerLink="/signup">Sign Up</a>
        </p>
    </mat-card-content>
</mat-card>

<br><br>
<app-footer></app-footer>