<header id="header" class="header-transparent" style="background: #1e4356;">
    <div class="container">

        <!--Header Logo-->
        <div class="logo float-left">
            <a href="index.html"><img src="../../assets/images/Logo/logo.png" height="70px" alt=""
                    class="img-fluid"></a>
        </div>

    </div>
</header>
<br>

<h1 class="tittle">Lawyer Advisor Registration</h1>
<mat-stepper #stepper>
    <!-- Personal Information -->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" (ngSubmit)="firstFormToRegistrationPayload()">
            <ng-template matStepLabel>Personal</ng-template>
            <br>
            <h2 class="tittle">Fill Personal Details</h2>
            <mat-card class="mat-card">

                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">

                    <!-- Name -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="First & Last name" type="text" formControlName="enteredName"
                                required>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-error *ngIf="errorHandling('enteredName', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- Email -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Ex. mail@gmail.com" type="email" formControlName="enteredEmail"
                                required>
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="errorHandling('enteredEmail', 'required')">
                                This field is required
                            </mat-error>
                            <mat-error *ngIf="errorHandling('enteredEmail', 'email')">
                                Please enter a valid email address </mat-error>
                        </mat-form-field>
                    </div>


                    <!-- Phone number -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Phone number</mat-label>
                            <input matInput placeholder="+91-" type="tel" formControlName="enteredPhone" required>
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error *ngIf="errorHandling('enteredPhone', 'required')">
                                This field is required
                            </mat-error>
                            <mat-error *ngIf="errorHandling('enteredPhone', 'pattern')">
                                Please enter a valid Phone number </mat-error>
                        </mat-form-field>

                    </div>
                </div>


                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch">
                    <!-- Date Of Birth -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Date Of Birth</mat-label>
                            <input matInput formControlName="enteredDoB" [matDatepicker]="picker" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="errorHandling('enteredDoB', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- Gender -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender" required>
                                <mat-option *ngFor="let gender of gender$ | async" [value]="gender.id">
                                    {{ gender.value}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix>people</mat-icon>
                            <mat-error *ngIf="errorHandling('gender', 'required')">
                                This field is required
                            </mat-error>

                        </mat-form-field>
                    </div>
                    <!-- Language -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Language</mat-label>
                            <mat-select formControlName="selectedLanguage" multiple required>
                                <mat-option *ngFor="let language of language$| async" [value]="language.id">
                                    {{language.value}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix>language</mat-icon>
                            <mat-error *ngIf="errorHandling('selectedLanguage', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Image -->
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch">
                    <div fxLayout="column" fxFlex="27" fxFlex.md="40" fxFlex.sm="35" fxFlex.xs="100">
                        <mat-form-field
                            matTooltip="Photo should be in formal attire, white background and size should be less than 1 MB"
                            matTooltipPosition="right" appearance="fill">
                            <mat-label>Photo</mat-label>
                            <!-- Display files names -->
                            <input formControlName="uploadedPhoto" matInput readonly name="name" required />
                            <input formControlName="uploadedPhoto" type="file" (change)="onImageUpload($event)">
                            <input type="button" mat-button (click)="imageUploadAction()" value="Upload">
                            <mat-error *ngIf="errorHandling('uploadedPhoto','required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="59" fxFlex.md="50" fxFlex.sm="45" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>About Me</mat-label>
                            <textarea matInput placeholder="" type="text" formControlName="aboutMe"></textarea>
                            <mat-icon matSuffix>description</mat-icon>
                        </mat-form-field>
                    </div>

                </div>

            </mat-card>
            <br>
            <div>
                <button mat-stroked-button [disabled]="!firstFormGroup.valid" color="primary" mat-button
                    matStepperNext>Next</button>
            </div>

        </form>
    </mat-step>

    <!-- Professional Information -->
    <mat-step [stepControl]="secondFormGroup" label="Professional">
        <form [formGroup]="secondFormGroup" (ngSubmit)="secondFormToRegistrationPayload()" #formtwo="ngForm">
            <h2 class="tittle">Fill Professional Details</h2>

            <mat-card class="mat-card">

                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">
                    <!-- Years of Experience -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Years of Experience</mat-label>
                            <mat-select formControlName="selectedYearsOfExp" required>
                                <mat-option *ngFor="let yoe of yearsOfExp$| async" [value]="yoe.id">
                                    {{ yoe.value}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="errorHandling1('selectedYearsOfExp', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Base City -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Base City</mat-label>
                            <mat-select matInput formControlName="selectedBaseCity" required>
                                <mat-option *ngFor="let item of basecity$| async" [value]="item.id">
                                    {{ item.value}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix>location_city</mat-icon>
                            <mat-error *ngIf="errorHandling1('selectedBaseCity', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Bar Memberships -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Bar Membership</mat-label>
                            <mat-select formControlName="selectedBarMembership" required>
                                <mat-option *ngFor="let item of barMembership$ | async" [value]="item.id">
                                    {{ item.value}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix>card_membership</mat-icon>
                            <mat-error *ngIf="errorHandling1('selectedBarMembership', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <br>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">

                    <!-- Enrollment Number -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Bar Enrollment Number</mat-label>
                            <input matInput placeholder="Bar Council Enrollment Number" type="text"
                                formControlName="enteredEnrollment" required>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-error *ngIf="errorHandling1('enteredEnrollment', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Linkedin URL -->
                    <!-- <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Linkedin URL</mat-label>
                            <input matInput placeholder="Ex. https://www.linkedin.com/in/username" type="url"
                                formControlName="linkedinUrl">
                            <mat-icon matSuffix> public </mat-icon>
                            <mat-error *ngIf="errorHandling1('linkedinUrl', 'pattern')">
                                Please enter a valid Linkedin URL </mat-error>
                        </mat-form-field>
                    </div> -->

                    <!-- DESIGNATION  -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Designation</mat-label>
                            <input matInput placeholder="Ex. Senior Advocate" type="text" formControlName="designation"
                                required>
                            <mat-icon matSuffix> public </mat-icon>
                            <mat-error *ngIf="errorHandling1('designation', 'required')">
                                Please enter your designation </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Bar Council ID card -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Bar Council ID card</mat-label>
                            <!-- Display files names -->
                            <input formControlName="barCouncilId" matInput readonly name="name" />
                            <input type="file" formControlName="barCouncilId" (change)="onFileChanged1($event)">
                            <input type="button" mat-button (click)="onUpload1()" value="Upload">
                            <!-- <input type="text" formControlName="imageName" name="imageName" matInput /> -->
                            <!-- <div *ngIf=message>{{message}}</div> -->
                            <!-- <input type="button" (click)="getImage()" value="Get Image"> -->
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">

                    <!-- Area of Practice -->
                    <div fxLayout="column" fxFlex="43" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field hintLabel="Max 5 Practices " class="dropPadding" appearance="fill">
                            <mat-label>Area of Practice</mat-label>
                            <mat-select #selectedAreaOfPractice formControlName="selectedAreaOfPractice" multiple required
                            (selectionChange)="areaValidation()">
                                <mat-option *ngFor="let item of areaOfPratice$ | async" [value]="item.id">
                                    {{item.value}}
                                </mat-option>
                            </mat-select>
                            <mat-hint align="end">{{selectedAreaOfPractice.value.length||0}}/5</mat-hint>
                            <!-- <mat-icon matSuffix>co_present</mat-icon> --> 
                            <mat-error *ngIf="errorHandling1('selectedAreaOfPractice', 'required')">
                                This field is required
                            </mat-error>
                            <mat-error *ngIf="!dropDownLimit">
                                Maximum selects can be 5
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Court of Practice  -->
                    <div fxLayout="column" fxFlex="43" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field hintLabel="Max 5 Practices" class="dropPadding" appearance="fill">
                            <mat-label>Court of Practice</mat-label>
                            <mat-select #selectedCourtOfPractice formControlName="selectedCourtOfPractice"  multiple required
                            (selectionChange)="courtValidation()">
                                <mat-option *ngFor="let item of courtOfPractice$ | async" [value]="item.id">
                                    {{item.value}}
                                </mat-option>
                            </mat-select>
                            <mat-hint align="end">{{selectedCourtOfPractice.value.length||0}}/5</mat-hint>
                            <!-- <mat-icon matSuffix>co_present</mat-icon> -->
                            <mat-error *ngIf="errorHandling1('selectedCourtOfPractice', 'required')">
                                This field is required
                            </mat-error>
                            <mat-error *ngIf="!dropDownLimit">
                                Maximum selects can be 5
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>


                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">
                    <!-- Major Client/Empanelment -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="25" fxFlex.sm="27" fxFlex.xs="100">
                        <button mat-stroked-button color="primary" (click)="addClients()">Add Major
                            Client/Empanelment
                        </button>
                        <mat-card class="mat-card">
                            <div formArrayName="clients">
                                <div *ngFor="let client of clients().controls; let i=index" [formGroupName]="i">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Major Client/Empanelment</mat-label>
                                        <input matInput placeholder="" type="text" formControlName="majorClient">
                                        <mat-icon matSuffix>perm_identity</mat-icon>
                                    </mat-form-field>

                                    <button mat-stroked-button color="primary"
                                        (click)="removeClients(i)">Remove</button>
                                    <hr>
                                    <br>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                    <br>

                    <!-- Accomplishments  -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="25" fxFlex.sm="27" fxFlex.xs="100">
                        <button mat-stroked-button color="primary" (click)="addAccomplishments()">Add
                            Accomplishments</button>
                        <mat-card class="mat-card">
                            <div formArrayName="accomplishments">
                                <div *ngFor="let accomplishment of accomplishments().controls; let i=index"
                                    [formGroupName]="i">

                                    <mat-form-field appearance="fill">
                                        <mat-label>Heading</mat-label>
                                        <input matInput placeholder="" type="text" formControlName="heading">
                                        <mat-icon matSuffix>perm_identity</mat-icon>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Descripition</mat-label>
                                        <textarea matInput placeholder="" type="text" formControlName="desc"></textarea>
                                        <mat-icon matSuffix>perm_identity</mat-icon>
                                    </mat-form-field>

                                    <button mat-stroked-button color="primary"
                                        (click)="removeAccomplishments(i)">Remove</button>
                                    <hr>
                                    <br>
                                </div>

                            </div>
                        </mat-card>
                    </div>


                </div>

                <br>
            </mat-card>
            <br>
            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" [disabled]="!secondFormGroup.valid"
                    matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Education -->
    <mat-step [stepControl]="thirdFormGroup" label="Education">
        <form [formGroup]="thirdFormGroup" (ngSubmit)="thirdFormToRegistrationPayload()">
            <h2 class="tittle">Fill Education Details</h2>
            <div class="container " formArrayName="educations">
                <div class="row ">
                    <button class="btn" mat-stroked-button color="primary" (click)="addEducation()">Add</button>
                </div>
                <br>
                <div *ngFor="let education of educations().controls; let i=index" [formGroupName]="i">
                    <mat-card class="mat-card">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">
                            <!--Type of Degree -->
                            <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                                <mat-form-field appearance="fill">
                                    <mat-label>Type of Degree</mat-label>
                                    <mat-select formControlName="selectedTypeOfDegree" required>
                                        <mat-option *ngFor="let item of degree$ | async" [value]="item.id">
                                            {{ item.value}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>school </mat-icon>
                                    <mat-error *ngIf="errorHandling2('selectedTypeOfDegree', 'required')">
                                        This field is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Degree / Diploma Name -->
                            <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                                <mat-form-field appearance="fill">
                                    <mat-label>Degree/Diploma Name</mat-label>
                                    <input matInput placeholder="Degree with Specialisation in" type="text"
                                        formControlName="enteredDegreeName" required>
                                    <mat-icon matSuffix>school </mat-icon>
                                    <mat-error *ngIf="errorHandling2('enteredDegreeName', 'required')">
                                        This field is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- University -->
                            <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                                <mat-form-field appearance="fill">
                                    <mat-label>University</mat-label>
                                    <input matInput placeholder="University" type="text" formControlName="enteredUniversity"
                                        required>
                                    <mat-icon matSuffix>school </mat-icon>
                                    <mat-error *ngIf="errorHandling2('enteredUniversity', 'required')">
                                        This field is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">

                                <!-- Institute / College Name -->
                                <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Institute / College Name</mat-label>
                                        <input matInput placeholder="" type="text" formControlName="enteredCollegeName"
                                            required>
                                        <mat-icon matSuffix>school </mat-icon>
                                        <mat-error *ngIf="errorHandling2('enteredCollegeName', 'required')">
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            <!-- Year of Passing -->
                            <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                                <mat-form-field appearance="fill">
                                    <mat-label>Year of Passing</mat-label>
                                    <input matInput formControlName="yearOfPassing" [matDatepicker]="picker1" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                    <mat-error *ngIf="errorHandling2('yearOfPassing', 'required')">
                                        This field is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="column" fxFlex="27" fxFlex.md="62" fxFlex.sm="27" fxFlex.xs="100">
                                <mat-checkbox [checked]="selected === i" (change)="selected = i"
                                    formControlName="primary" color="primary">
                                    Primary</mat-checkbox>
                                <!-- <mat-error *ngIf="errorHandling2('primary', 'required')">
                                        This field is required
                                    </mat-error> -->
                            </div>
                        </div>

                        <br>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">
                            <div fxLayout="column" fxFlex="100" fxFlex.md="100" fxFlex.sm="27" fxFlex.xs="100">
                                <button class="btn btn-primary" (click)="removeEducation(i)" mat-stroked-button
                                    color="primary">Remove</button>
                            </div>
                        </div>
                    </mat-card>
                    <br>
                </div>
                <br>
            </div>
            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" [disabled]="!thirdFormGroup.valid"
                    matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Certification -->
    <mat-step [stepControl]="forthFormGroup" label="Certification">
        <form [formGroup]="forthFormGroup" (ngSubmit)="forthFormToRegistrationPayload()">
            <h2 class="tittle">Fill Certification Details</h2>
            <div class="container " formArrayName="certs">
                <div class="row ">
                    <button class="btn" mat-stroked-button color="primary" (click)="addcerts()">Add</button>
                </div>
                <br>
                <!-- <div class="row"> -->
                <div *ngFor="let cert of certs().controls; let i=index" [formGroupName]="i">
                    <mat-card class="mat-card">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">


                            <!-- Certificate Name -->
                            <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                                <mat-form-field appearance="fill">
                                    <mat-label>Certificate Name</mat-label>
                                    <input matInput placeholder="" type="text" formControlName="enteredCertificateName">
                                    <mat-icon matSuffix>perm_identity</mat-icon>
                                    <!-- <mat-error *ngIf="errorHandling3('enteredCertificateName', 'required')">
                                            This field is required
                                        </mat-error> -->
                                </mat-form-field>
                            </div>
                            <!-- Issuing Authority -->
                            <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                                <mat-form-field appearance="fill">
                                    <mat-label>Issuing Authority</mat-label>
                                    <input matInput placeholder="" type="text"
                                        formControlName="enteredIssuingAuthority">
                                    <mat-icon matSuffix>perm_identity</mat-icon>
                                    <!-- <mat-error *ngIf="errorHandling3('enteredIssuingAuthority', 'required')">
                                            This field is required
                                        </mat-error> -->
                                </mat-form-field>
                            </div>
                            <!-- Date of Issuance -->
                            <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                                <mat-form-field appearance="fill">
                                    <mat-label>Date of Issuance</mat-label>
                                    <input matInput formControlName="dateofIssuance" [matDatepicker]="picker2">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <!-- <mat-error *ngIf="errorHandling3('dateofIssuance', 'required')">
                                            This field is required
                                        </mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>

                        <div>
                            <button class="btn btn-primary" (click)="removecerts(i)" mat-stroked-button
                                color="primary">Remove</button>
                        </div>
                    </mat-card>
                    <br>
                </div>
                <!-- </div> -->
                <br>
            </div>
            <br>
            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Banking -->
    <mat-step [stepControl]="fifthFormGroup" label="Banking">
        <form [formGroup]="fifthFormGroup" (ngSubmit)="fifthFormToRegistrationPayload()">
            <h2 class="tittle">Fill Banking Details</h2>
            <mat-card class="mat-card">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">
                    <!-- Beneficiary Name -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Beneficiary Name</mat-label>
                            <input matInput placeholder="First and last name" type="text"
                                formControlName="enteredBeneficiaryName" required>
                            <mat-icon matSuffix>account_balance</mat-icon>
                            <mat-error *ngIf="errorHandling4('enteredBeneficiaryName', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Bank Name -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label> Bank Name</mat-label>
                            <mat-select formControlName="selectedBankName" required>
                                <mat-option *ngFor="let item of bankName$ | async" [value]="item.id">
                                    {{ item.value}}
                                </mat-option>
                                <mat-error *ngIf="errorHandling4('selectedBankName', 'required')">
                                    This field is required
                                </mat-error>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- IFSC Code -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>IFSC Code</mat-label>
                            <input matInput placeholder="Ex. SBINXXXXXXX" type="text" formControlName="enteredIFSC"
                                required>
                            <mat-icon matSuffix>account_balance</mat-icon>
                            <mat-error *ngIf="errorHandling4('enteredIFSC', 'required')">
                                This field is required
                            </mat-error>
                            <mat-error *ngIf="errorHandling4('enteredIFSC', 'pattern')">
                                Please enter a valid IFSC Code
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">
                    <!-- Account number -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                            <mat-label>Account number</mat-label>
                            <input matInput #enteredAccountNumber placeholder="Ex. XXXXXXXXXX" minlength="10"
                                type="number" formControlName="enteredAccountNumber" required>
                            <mat-icon matSuffix>account_balance</mat-icon>
                            <mat-hint align="end">{{enteredAccountNumber.value.length||0}}/10</mat-hint>
                            <!-- <mat-hint >Max 10 characters</mat-hint>
                        <mat-hint align="end">{{fifthFormGroup.get('enteredAccountNumber').value?.length || 0}}/10</mat-hint> -->
                            <mat-error *ngIf="errorHandling4('enteredAccountNumber', 'required')">
                                This field is required
                            </mat-error>
                            <!-- <mat-error *ngIf="errorHandling4('enteredAccountNumber', 'minLength')">
                            Mininum number can be 10
                        </mat-error>  -->

                        </mat-form-field>
                    </div>

                    <!-- Confirm Account number -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Confirm Account number</mat-label>
                            <input matInput placeholder="Ex. XXXXXXXXXX" type="number"
                                formControlName="confirmAccountnumber" required>
                            <mat-icon matSuffix>account_balance</mat-icon>
                            <mat-error *ngIf="errorHandling4('confirmAccountnumber', 'required')">
                                This field should match Account number
                            </mat-error>

                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100"></div>
                </div>
                <br>
            </mat-card>
            <br>

            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Address -->
    <mat-step [stepControl]="sixthFormGroup" label="Address">
        <form [formGroup]="sixthFormGroup" (ngSubmit)="sixthFormToRegistrationPayload()">
            <h2 class="tittle">Fill Address Details</h2>
            <mat-card class="mat-card">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">
                    <!-- Type of Address -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label> Type of Address </mat-label>
                            <mat-select formControlName="selectedTypeofAddress" required>
                                <mat-option *ngFor="let item of address$ | async" [value]="item.id">
                                    {{ item.value}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="errorHandling5('selectedTypeofAddress', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="59" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100"></div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">
                    <!-- Line 1 -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Line 1</mat-label>
                            <input matInput placeholder="Street address, P.O. box, company name, c/o" type="text"
                                formControlName="enteredAddressLine1" required>
                            <mat-icon matSuffix>home</mat-icon>
                            <mat-error *ngIf="errorHandling5('enteredAddressLine1', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!--  Line 2  -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Line 2</mat-label>
                            <input matInput placeholder="Apartment, suite, unit, building, floor, etc." type="text"
                                formControlName="enteredAddressLine2">
                            <mat-icon matSuffix>home</mat-icon>
                        </mat-form-field>
                    </div>

                    <!-- Pin Code-->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Pin Code</mat-label>
                            <input matInput placeholder="######" type="number" formControlName="enteredPinCode"
                                required>
                            <mat-icon matSuffix>domain </mat-icon>
                            <mat-error *ngIf="errorHandling5('enteredPinCode', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch ">

                    <!-- Pin Code Area -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>Pin Code Area</mat-label>
                            <input matInput placeholder="" type="text" formControlName="enteredPinCodeArea" required>
                            <mat-icon matSuffix>domain </mat-icon>
                            <mat-error *ngIf="errorHandling5('enteredPinCodeArea', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- City-->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="Ex. Delhi" type="text" formControlName="enteredCity" required>
                            <mat-icon matSuffix>location_city </mat-icon>
                            <mat-error *ngIf="errorHandling5('enteredCity', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <!-- State -->
                    <div fxLayout="column" fxFlex="27" fxFlex.md="30" fxFlex.sm="27" fxFlex.xs="100">
                        <mat-form-field appearance="fill">
                            <mat-label>State</mat-label>
                            <input matInput placeholder="Ex. New Delhi" type="text" formControlName="enteredState"
                                required>
                            <mat-icon matSuffix>location_city </mat-icon>
                            <mat-error *ngIf="errorHandling5('enteredState', 'required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>
                <br>
            </mat-card>
            <br>
            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Consultation Fee -->
    <mat-step [stepControl]="seventhFormGroup" label="Terms and Conditions">
        <form [formGroup]="seventhFormGroup" (ngSubmit)="seventhFormToRegistrationPayload()">

            <div fxLayout="column" fxLayoutAlign="space-evenly center ">
                <div fxFlex="100" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100">
                    <h2 class="tittle">Accept and Submit</h2>
                </div>

                <mat-card fxLayout="column" fxFlex="80" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100">
                    <div class="tnc">
                        <!-- terms and conditions-->
                        <h2 mat-dialog-title></h2>
                        <!-- <div fxLayout="column" fxFlex="70" fxFlex.md="70" fxFlex.sm="70" fxFlex.xs="70"> -->
                        <mat-dialog-content class="dialog">

                            <h1 class="h1center">Advisor Terms &#45; NKSA</h1>
                            <h2>LETTER OF UNDERSTANDING</h2>
                            <p>
                                This Letter of Understanding (“LOU”) is issued in favour of M/s NKSA Associates
                                LLP,
                                a limited liability partnership firm registered under the LLP Act, 2008, having
                                its
                                registered office at 68, Western Wing, Tis Hazari, New Delhi &#45; 110054
                                (“QuResolve”)
                                By You, an individual, Registering herein as an Advisor in pursuance of our
                                discussions and intent to avail the Services offered by QuResolve.</p>


                            <h2>YOU THE ADVISOR HEREBY AGREES:</h2>
                            <p>
                                Capitalized terms used but not defined herein shall have the meaning assigned to
                                them under the Advisor Terms of Use available at
                                <a href="https://advisor.quresolve.com/">(“Advisor Terms”)</a>.

                            </p>
                            <p>
                                1. Advisor understands that QuResolve is engaged in the business of inter alia
                                operating an online platform under the name and style “QuResolve”, through its
                                Platform, which enables transactions between Advisors and Clients, dealing in
                                online
                                consultation. The Platform is utilized by Client(s) to choose and avail
                                Consultation
                                Services from a various listed consultants/advisor for fixed charges and further
                                offer some free consultation to specific client by some specific Advisors on the
                                Platform, pursuant to which QuResolve facilitates online hourly Consultation
                                through
                                the independent Advisor engaged on principal-to-principal basis in some selected
                                serviceable geographical area of the cities in India. The Advisor wishes to
                                avail
                                the Services enabled by QuResolve on a non-exclusive and contractual basis
                                subject
                                to the terms and conditions set out in the Advisor Terms, which includes, inter
                                alia, warranties provided, obligations, intellectual property rights,
                                confidentiality, responsibilities and grounds for termination.
                            </p>

                            <p> 2. The Advisor represents that (i) he/she is engaged in the business of
                                Consultation
                                and is providing consultation and advising his/her own clients as well; (ii)
                                he/she
                                has full power and capacity to enter into and perform its obligations under this
                                LOU; (iii) has taken all necessary licenses/registration applicable to its
                                Advisory
                                and is fully compliant with the provisions of the respective statute, its rules
                                and
                                regulations prescribed by its governing/regulating body, as amended from time to
                                time; (iv) he/she shall not provide his/her personal details to the client
                                during
                                consultation using the platform, or solicit client indirectly or directly for
                                meeting him/her in person at his office facilitated on the Platform, any advice
                                that
                                may be wrong or illegal or unlawful or advice bar by any law of the land or give
                                advice on the topic for which the advisor in not qualified, except in accordance
                                with the conditions of the Registration; and (v) all the information and
                                contents
                                provided by advisor, as required, to QuResolve are true, correct and accurate.
                            </p>

                            <p>3. The QuResolve shall deduct 20% of the Net Value of Advisor&#39;s consultation
                                earning
                                made through platform and shall also deduct the applicable GST & Service Fee and
                                shall remit the remaining amount as per monthly settlement. The Parties agree
                                that
                                the Service Fee shall be valid for one (1) month from the Effective Date, upon
                                expiry of which they may review the same.</p>

                            <p>4. The Advisor shall pay to QuResolve Rs. 2500.00 (Rupees Two thousand five
                                hundred
                                Only) towards one-time listing facilitation services (Listing Facilitation
                                Service
                                Fee) availed by the Advisor at the time of Platform on-boarding.</p>

                            <p> 5. The Advisor understands and agrees that QuResolve shall collect, for and on
                                behalf of the Advisor, the payments received from the Clients and remit the same
                                to
                                the bank account of the Advisor in accordance with the Payment Terms after
                                deductions of Service Fee, Other Charges as mentioned under the Schedule of
                                Charges
                                and GST & other taxes applicable thereon at the prevailing rates.</p>

                            <p> 6. The Advisor understands that QuResolve shall send consolidated reports of
                                Consultation and other details for the Settlement Period and invoice/s to the
                                Advisor by electronic mail to their registered email.</p>

                            <p>7. The Advisor confirms and undertakes that it has read, understood and agrees to
                                be
                                bound by the terms set out in the Advisor Terms that are incorporated by
                                reference
                                herein and are deemed to be part of this LOU.</p>

                            <p>8. The effective date (“Effective Date”) of this LOU shall be the date on which
                                the
                                Advisor clicks to agree digitally or otherwise and relay the same to QuResolve.
                                This
                                LOU shall thereon have full force of a contract and shall bind both Advisor and
                                QuResolve fully upon on-boarding of Advisor on Platform.</p>

                            <p> 9. The Advisor further confirms and undertakes that the documents provided by
                                the
                                Advisor at the time of registration along with this LOU are true and correct to
                                their knowledge and understanding.</p>
                            <br>

                        </mat-dialog-content>
                        <!-- </div> -->
                        <br>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="center ">
                        <input type="checkbox" formControlName="terms"> Accept Terms and Conditions
                    </div>

                </mat-card>
            </div>
            <br>
            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>

                <button mat-stroked-button color="primary" matStepperSubmit type="submit"
                    [disabled]="seventhFormGroup.invalid" (click)="submit()">Submit</button>
            </div>

        </form>
    </mat-step>

</mat-stepper>
<br><br><br><br><br>
<!-- <app-footer></app-footer> -->