<header id="header" class="header-transparent" style="background: #1e4356;">
    <div class="container">

        <!--Header Logo-->
        <div class="logo float-left">
            <a href="index.html"><img src="../../assets/images/Logo/logo.png" height="70px" alt=""
                    class="img-fluid"></a>
        </div>

    </div>
</header>
<br>

<h1 class="tittle">Advisor Registration</h1>
<mat-stepper #stepper>
    <!-- Personal Information -->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" (ngSubmit)="firstFormToRegistrationPayload()" #formone="ngForm">
            <ng-template matStepLabel>Personal</ng-template>
            <br>
            <h2 class="tittle">Fill Personal Details</h2>
            <mat-card class="mat-card">

                <div class="row">
                    <!-- Name -->
                    <mat-form-field class="fields col-sm-8 col-md-6 col-lg-4 " appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="First name,Last name" type="text" formControlName="enteredName"
                            required>
                        <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>
                    <!-- Email -->
                    <mat-form-field class="fields col-sm-8 col-md-6 col-lg-4 " appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="abc@gmail.com" type="email" formControlName="enteredEmail"
                            required>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <!-- Phone number -->
                    <mat-form-field class="fields col-sm-8 col-md-6 col-lg-4 " appearance="fill">
                        <mat-label>Phone number</mat-label>
                        <input matInput placeholder="+91-" type="tel" formControlName="enteredPhone" required>
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                </div>

                <div class="row">
                    <!-- Date Of Birth -->
                    <mat-form-field class="fields col-sm-8 col-md-6 col-lg-4 " appearance="fill">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput formControlName="enteredDoB" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <!-- Gender -->
                    <mat-form-field class="fields col-sm-8 col-md-6 col-lg-4" appearance="fill">
                        <mat-label>Gender</mat-label>
                        <mat-select matInput formControlName="gender" required>
                            <mat-option value="1">Male</mat-option>
                            <mat-option value="2">Female</mat-option>
                            <mat-option value="3">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Language -->
                    <mat-form-field class="fields col-sm-8 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Language</mat-label>
                        <mat-select formControlName="selectedlanguage" multiple>
                            <mat-option *ngFor="let language of languageList" [value]="language">{{language}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="row">
                        <mat-form-field class="fields col-sm-8 col-md-5 col-lg-4" appearance="fill">
                            <mat-label>Photo</mat-label>
                            <!-- Display files names -->
                            <input formControlName="uploadedPhoto" matInput readonly name="name" />
                            <input type="file" formControlName="uploadedPhoto" (change)="onFileChanged($event)">
                            <input type="button" mat-button (click)="onUpload()" value="Upload">
                            <!-- <input type="text" formControlName="imageName" name="imageName" matInput /> -->
                            <!-- <div *ngIf=message>{{message}}</div> -->
                            <!-- <input type="button" (click)="getImage()" value="Get Image"> -->
                        </mat-form-field>
                    </div>

                    <!-- <div class="row">
                    <mat-form-field class="fields">
                        <mat-label>Photo</mat-label> -->
                    <!-- Display files names -->
                    <!-- <input formControlName="uploadedPhoto" matInput readonly name="name" /> -->
                    <!-- Fetch selected filed on change  -->
                    <!-- <input formControlName="uploadedPhoto" type="file" #fileInput id="uploadFile"
                            (change)="uploadFileEvt($event)" name="uploadFile" multiple="multiple" accept="image/*" />
                    </mat-form-field>
                </div> -->
                </div>
            </mat-card>
            <br>
            <div>
                <button mat-stroked-button color="primary" mat-button matStepperNext>Next</button>
            </div>

        </form>
    </mat-step>

    <!-- Professional Information -->
    <mat-step [stepControl]="secondFormGroup" label="Professional">
        <form [formGroup]="secondFormGroup" (ngSubmit)="secondFormToRegistrationPayload()" #formtwo="ngForm">
            <h2 class="tittle">Fill Professional Details</h2>

            <mat-card class="mat-card">
                <div class="row">

                    <!-- Years of Experience -->
                    <mat-form-field class="fields col-sm-8 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Years of Experience</mat-label>
                        <mat-select formControlName="selectedYearsOfExp">
                            <mat-option *ngFor="let item of yearsOfExpList" [value]="item.id">
                                {{ item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Base City -->
                    <mat-form-field class="fields col-sm-8 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Base City</mat-label>
                        <mat-select matInput formControlName="selectedBaseCity" required>
                            <mat-option value="1">Delhi NCR</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Bar Memberships -->

                    <mat-form-field class="fields col-sm-8 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Bar Membership</mat-label>
                        <mat-select formControlName="selectedBarMembership">
                            <mat-option *ngFor="let item of barMembershipsList" [value]="item.id">
                                {{ item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="row">

                    <!-- Enrollment Number -->
                    <mat-form-field class="fields col-sm-8 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Enrollment Number</mat-label>
                        <input matInput placeholder="Bar Association Number" type="text"
                            formControlName="enteredenrollment" required>
                        <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>

                    <!-- Linkedin URL -->
                    <mat-form-field class="fields col-sm-8 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Linkedin URL</mat-label>
                        <input matInput placeholder="Enter Your linkedin URL" type="url" formControlName="linkedinUrl"
                            required>
                        <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>

                    <!-- Bar Council ID card -->
                    <mat-form-field class="fields col-sm-8 col-md-5 col-lg-4">
                        <mat-label>Bar Council ID card</mat-label>
                        <!-- Display files names  -->
                        <input formControlName="barCouncilId" matInput readonly name="name" />
                        <!-- Fetch selected filed on change  -->
                        <input formControlName="barCouncilId" type="file" #fileInput id="uploadFile"
                            (change)="uploadFileEvt($event)" name="uploadFile" multiple="multiple" accept="image/*" />
                    </mat-form-field>

                </div>

                <div class="row">

                    <!-- Area of Practice -->
                    <mat-form-field class="fields col-sm-8 col-md-5 col-lg-6" appearance="fill">
                        <mat-label>Area of Practice</mat-label>
                        <mat-select formControlName="selectedAreaofpractice" multiple>
                            <mat-option *ngFor="let item of areaOfPraticeList" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Court of Practice  -->
                    <mat-form-field class="fields col-sm-8 col-md-5 col-lg-6" appearance="fill">
                        <mat-label>Court of Practice</mat-label>
                        <mat-select formControlName="selectedCourtOfPractice" multiple>
                            <mat-option *ngFor="let item of courtOfPraticeList" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>



                <div class="row">
                    <!-- Major Client/Empanelment -->
                    <div class="column">
                        <button mat-stroked-button color="primary" (click)="addClients()">Add Major
                            Client/Empanelment
                        </button>

                        <div formArrayName="clients">
                            <div *ngFor="let client of clients().controls; let i=index" [formGroupName]="i">
                                <mat-form-field class="fields col-sm-8 col-md-5 col-lg-2" appearance="fill">
                                    <mat-label>Major Client/Empanelment</mat-label>
                                    <input matInput placeholder="" type="text" formControlName="majorClient">
                                    <mat-icon matSuffix>perm_identity</mat-icon>
                                </mat-form-field>
                                <button mat-stroked-button color="primary" (click)="removeClients(i)">Remove</button>
                            </div>
                        </div>
                    </div>

                    <br>
                    <!-- Accomplishments  -->
                    <div class="column">

                        <button mat-stroked-button color="primary" (click)="addAccomplishments()">Add
                            Accomplishments</button>
                        <div formArrayName="accomplishments">
                            <div *ngFor="let accomplishment of accomplishments().controls; let i=index"
                                [formGroupName]="i">

                                <mat-form-field class="fields col-sm-6 col-md-5 col-lg-2" appearance="fill">
                                    <mat-label>Heading</mat-label>
                                    <input matInput placeholder="" type="text" formControlName="heading">
                                    <mat-icon matSuffix>perm_identity</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="fields col-sm-6 col-md-5 col-lg-2" appearance="fill">
                                    <mat-label>Descripition</mat-label>
                                    <textarea matInput placeholder="" type="text" formControlName="desc"></textarea>
                                    <mat-icon matSuffix>perm_identity</mat-icon>
                                </mat-form-field>

                                <button mat-stroked-button color="primary"
                                    (click)="removeAccomplishments(i)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <table formArrayName="accomplishments">
                    <tr *ngFor="let accomplishment of accomplishments().controls; let i=index" [formGroupName]="i">
                        <td>
                            <mat-form-field class="fields col-sm-6 col-md-5 col-lg-4" appearance="fill">
                                <mat-label>Heading</mat-label>
                                <input matInput placeholder="" type="text" formControlName="heading">
                                <mat-icon matSuffix>perm_identity</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="fields col-sm-6 col-md-5 col-lg-6" appearance="fill">
                                <mat-label>Descripition</mat-label>
                                <textarea matInput placeholder="" type="text" formControlName="desc"></textarea>
                                <mat-icon matSuffix>perm_identity</mat-icon>
                            </mat-form-field>
                        </td>
                        <td>
                            <button mat-stroked-button color="primary"
                                (click)="removeAccomplishments(i)">Remove</button>
                        </td>
                    </tr>
                </table> -->
                <br>
            </mat-card>
            <br>
            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Education -->
    <mat-step [stepControl]="thirdFormGroup" label="Education">
        <form [formGroup]="thirdFormGroup" (ngSubmit)="thirdFormToRegistrationPayload()">
            <h2 class="tittle">Fill Education Details</h2>
            <div class="container " formArrayName="educations">
                <div class="row ">
                    <button class="btn" mat-stroked-button color="primary" (click)="addEducation()">Add</button>
                </div>
                <br>
                <div class="row">
                    <div *ngFor="let education of educations().controls; let i=index" [formGroupName]="i">
                        <mat-card class="mat-card">
                            <div class="row">
                                <!--Type of Degree -->
                                <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4  " appearance="fill">
                                    <mat-label>Type of Degree</mat-label>
                                    <mat-select formControlName="selectedTypeofDegree">
                                        <mat-option *ngFor="let item of typeOfDegreeList" [value]="item.id">
                                            {{ item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- Degree / Diploma Name -->
                                <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                                    <mat-label>Degree/Diploma Name</mat-label>
                                    <input matInput placeholder="Degree with Specialisation in" type="text"
                                        formControlName="enteredDegreeName" required>
                                    <mat-icon matSuffix>school </mat-icon>
                                </mat-form-field>

                                <!-- Institute / College Name -->
                                <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4 " appearance="fill">
                                    <mat-label>Institute / College Name</mat-label>
                                    <input matInput placeholder="" type="text" formControlName="enteredCollegeName"
                                        required>
                                    <mat-icon matSuffix>school </mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="row">
                                <!-- Year of Passing -->
                                <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                                    <mat-label>Year of Passing</mat-label>
                                    <input matInput formControlName="yearOfPassing" [matDatepicker]="picker1">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                                <div class="col-5 ">
                                    <mat-checkbox color="primary">Primary</mat-checkbox>
                                </div>
                                <br>
                                <div class="col-3">
                                    <button class="btn btn-primary" (click)="removeEducation(i)" mat-stroked-button
                                        color="primary">Remove</button>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                    </div>
                </div>
                <br>
            </div>
            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Certification -->
    <mat-step [stepControl]="forthFormGroup" label="Certification">
        <form [formGroup]="forthFormGroup" (ngSubmit)="forthFormToRegistrationPayload()">
            <h2 class="tittle">Fill Certification Details</h2>
            <div class="container " formArrayName="certs">
                <div class="row ">
                    <button class="btn" mat-stroked-button color="primary" (click)="addcerts()">Add</button>
                </div>
                <br>
                <div class="row">
                    <div *ngFor="let cert of certs().controls; let i=index" [formGroupName]="i">
                        <mat-card class="mat-card">
                            <div class="row">

                                <div class="row">
                                    <!-- Certificate Name -->
                                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                                        <mat-label>Certificate Name</mat-label>
                                        <input matInput placeholder="" type="text"
                                            formControlName="enteredCertificateName" required>
                                        <mat-icon matSuffix>perm_identity</mat-icon>
                                    </mat-form-field>
                                    <!-- Issuing Authority -->
                                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                                        <mat-label>Issuing Authority</mat-label>
                                        <input matInput placeholder="" type="text"
                                            formControlName="enteredIssuingAuthority" required>
                                        <mat-icon matSuffix>perm_identity</mat-icon>
                                    </mat-form-field>
                                    <!-- Date of Issuance -->
                                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                                        <mat-label>Date of Issuance</mat-label>
                                        <input matInput formControlName="dateofIssuance" [matDatepicker]="picker2">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" (click)="removecerts(i)" mat-stroked-button
                                    color="primary">Remove</button>
                            </div>
                        </mat-card>
                        <br>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Banking -->
    <mat-step [stepControl]="fifthFormGroup" label="Banking">
        <form [formGroup]="fifthFormGroup" (ngSubmit)="fifthFormToRegistrationPayload()">
            <h2 class="tittle">Fill Banking Details</h2>
            <mat-card class="mat-card">
                <div class="row">
                    <!-- Beneficiary Name -->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Beneficiary Name</mat-label>
                        <input matInput placeholder="First name,Last name" type="text"
                            formControlName="enteredBeneficiaryName" required>
                        <mat-icon matSuffix>account_balance</mat-icon>
                    </mat-form-field>

                    <!-- Bank Name -->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label> Bank Name</mat-label>
                        <mat-select formControlName="selectedBankName">
                            <mat-option *ngFor="let item of bankNameList" [value]="item.id">
                                {{ item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- IFSC Code -->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>IFSC Code</mat-label>
                        <input matInput placeholder="First name,Last name" type="text"
                            formControlName="enteredIfscCode" required>
                        <mat-icon matSuffix>account_balance</mat-icon>
                    </mat-form-field>

                </div>
                <div class="row">
                    <!-- Account number -->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Account number</mat-label>
                        <input matInput placeholder="First name,Last name" type="number"
                            formControlName="enteredAccountNumber" required>
                        <mat-icon matSuffix>account_balance</mat-icon>
                    </mat-form-field>

                    <!-- Confirm Account number -->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Confirm Account number</mat-label>
                        <input matInput placeholder="First name,Last name" type="number"
                            formControlName="confirmAccountnumber" required>
                        <mat-icon matSuffix>account_balance</mat-icon>
                    </mat-form-field>
                </div>
                <br>
            </mat-card>
            <br>

            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Address -->
    <mat-step [stepControl]="sixthFormGroup" label="Address">
        <form [formGroup]="sixthFormGroup" (ngSubmit)="sixthFormToRegistrationPayload()">
            <h2 class="tittle">Fill Address Details</h2>
            <mat-card class="mat-card">
                <div class="row">
                    <!-- Type of Address -->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label> Type of Address </mat-label>
                        <mat-select formControlName="selectedTypeofAddress">
                            <mat-option *ngFor="let item of typeOfAddressList" [value]="item.id">
                                {{ item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="row">
                    <!-- Line 1 -->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Line 1</mat-label>
                        <input matInput placeholder="Street address, P.O. box, company name, c/o" type="text"
                            formControlName="enteredAddressline1" required>
                        <mat-icon matSuffix>home</mat-icon>
                    </mat-form-field>

                    <!--  Line 2  -->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Line 2</mat-label>
                        <input matInput placeholder="Apartment, suite, unit, building, floor, etc." type="text"
                            formControlName="enteredAddressline2" required>
                        <mat-icon matSuffix>home</mat-icon>
                    </mat-form-field>

                    <!-- Pin Code-->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Pin Code</mat-label>
                        <input matInput placeholder="######" type="number" formControlName="enteredPinCode" required>
                        <mat-icon matSuffix>domain </mat-icon>
                    </mat-form-field>
                </div>

                <div class="row">

                    <!-- Pin Code Area -->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>Pin Code Area</mat-label>
                        <input matInput placeholder="" type="text" formControlName="enteredPinCodeArea" required>
                        <mat-icon matSuffix>domain </mat-icon>
                    </mat-form-field>

                    <!-- City-->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Delhi" type="text" formControlName="enteredCity" required>
                        <mat-icon matSuffix>location_city </mat-icon>
                    </mat-form-field>

                    <!-- State -->
                    <mat-form-field class="fields col-sm-3 col-md-5 col-lg-4" appearance="fill">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="New Delhi" type="text" formControlName="enteredState" required>
                        <mat-icon matSuffix>location_city </mat-icon>
                    </mat-form-field>

                </div>
                <br>
            </mat-card>
            <br>
            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Consultation Fee -->
    <mat-step [stepControl]="seventhFormGroup" label="Terms and Conditions">
        <form [formGroup]="seventhFormGroup" (ngSubmit)="seventhFormToRegistrationPayload()">
            <h2 class="tittle">Accept and Submit</h2>

            <mat-card class="mat-card">

                <div class="tnc">
                    <!-- terms and conditions-->
                    <h2 mat-dialog-title></h2>
                    <mat-dialog-content class="dialog">
                        <h3>Merchant Terms – NKSA</h3>
                        <p>

                            This document is an electronic record in terms of the Information Technology Act, 2000 and
                            rules there under as applicable and the amended provisions pertaining to electronic records
                            in various statutes as amended by the Information Technology Act, 2000. This document is
                            published in accordance with the provisions of Rule 3 (1) of the Information Technology
                            (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations,
                            privacy policy and terms for access or usage of www.swiggy.com website and ‘Swiggy’
                            application for mobile and handheld devices.


                            Any Capitalized terms used but not defined herein shall have the meaning assigned to them
                            under the Terms of Use which govern your use of our website www.swiggy.com (the “Website”)
                            and our ‘Swiggy’ application for mobile and handheld devices (the “App”). The Website and
                            the App are jointly referred to as the “Platform”.


                            Your wishes to avail the Services enabled by Swiggy on a non-exclusive and contractual basis
                            subject to the terms and conditions set out in the hereinafter, which includes, inter alia,
                            warranties provided by the Parties, obligations, intellectual property rights,
                            confidentiality, responsibilities of the Parties and grounds for termination of this
                            contract. Merchant and Swiggy are referred individually as ‘Party’ and collectively as
                            ‘Parties’, wherever the context so requires.

                            ·

                            These terms are called the “Merchant Terms” and these Merchant Terms read together with
                            Terms of Use shall govern your use of Platform. Please read these Merchant Terms carefully
                            before you use the services. If you do not agree to these Merchant Terms, you may not use
                            the services on the Platform and we request you to uninstall the App. By installing,
                            downloading or even merely using the Platform, you shall be contracting with Swiggy and you
                            signify your acceptance to this Merchant Terms, Terms of Use and other Swiggy policies
                            (including but not limited to the Privacy Policy being incorporated by reference herein)
                            which take effect on the date on which you download, install or use the Services, and create
                            legally binding arrangements to abide by the same.

                            The Platform is owned and operated by Bundl Technologies Private Limited, a company
                            incorporated under the Companies Act, 2013 and having its registered office at No.55, Sy.no.
                            8-14, I & J Block, Ground Floor, Embassy Tech Village, Outer Ring Road, Devarabisanahalli,
                            Bangalore - 560103, India. For the purpose of these Merchant Terms, wherever the context so
                            requires “you” or “user” shall mean any natural or legal person who has agreed to become a
                            merchant on the Platform by providing registration data while registering on the Platform as
                            a registered partner using the computer systems. The term “Swiggy”, “we”, “us” or “our”
                            shall mean Bundl Technologies Private Limited.

                            Swiggy enables transactions between participant restaurants/merchants (you) dealing in
                            restaurant services (food and beverages), and buyers (“Platform Services”). The buyers
                            (“Buyer/s”) can choose and place orders (“Orders”) from variety of products listed and
                            offered under menu for sale by various neighbourhood merchants like you, including but not
                            limited to the restaurants and eateries (“Merchant/s”) on the Platform and Swiggy enables
                            transactions between the pick-up and delivery partner (“PDP”) and the Buyers for delivery of
                            such Orders at select localities of serviceable cities across India (“Delivery Services”).
                            The Platform Services and Delivery Services are collectively referred to as “Services”.

                            This Merchant Terms are subject to modifications, and we reserve the right to modify or
                            change the Merchant Terms and other Swiggy policies at any time by posting changes on the
                            Platform with intimation to You. Swiggy might choose to communicate such modifications in a
                            separate email to you for your ready reference. However, you shall, at all times, be
                            responsible for regularly reviewing the Merchant Terms and other Swiggy policies and note
                            the changes made on the Platform. Your continued usage of the Services after any change is
                            posted constitutes your acceptance of the amended Merchant Terms and other Swiggy policies.


                            Notice

                            All notices under these Merchant Terms shall be sent by registered post acknowledgment due,
                            contemporaneous courier or email to the address mentioned below; Bundl Technologies Private
                            Limited Reg Office: No.55, Sy.no. 8-14, I & J Block, Ground Floor, Embassy Tech Village,
                            Outer Ring Road, Devarabisanahalli, Bangalore -560103, India. Time: 9.30 AM to 5.30 PM from
                            Monday to Friday If the Merchant notices any discrepancy in the Settlement of Collections,
                            the Merchant may raise a ticket by writing an email to partnersupport@swiggy.in and the same
                            will be mutually resolved by both parties within 15 days from the date on which the ticket
                            was raised.


                            Swiggy shall issue notice to Merchant vide registered post, contemporaneous courier, partner
                            App or email or mobile number registered with Swiggy. All or any of the foregoing modes of
                            communication shall be valid and binding.


                            Force Majeure

                            If at any time during the currency of the agreement between Merchant and Swiggy, the
                            performance in whole or in part by either party or any obligations under the contract shall
                            be prevented or delayed by reasons of acts of God, war, hostilities, invasions, act of
                            public enemies, civil commotion, sabotage, fire, explosions, flood, cyclone, earthquake,
                            epidemics and any form of government restrictions on business operations, adverse climatic
                            conditions and other unforeseen events or circumstances etc. (hereinafter referred to as
                            “Force Majeure Conditions”) which directly affect the performance of obligations and which
                            are beyond the reasonable control of either party, provided notice of the happening of any
                            one or more of the Force Majeure Conditions is given by either party on occurrence of the
                            Force Majeure Conditions, the obligation of the party giving notice shall stand suspended
                            without any liability towards the other party so long as such Force Majeure Conditions
                            continues except such obligations as may have accrued till the date of commencement of the
                      

                            Swiggy SELECT Program is a Privilege Partner Program on the Platform. Under this program,
                            eligible Partner restaurants can voluntarily reach out to the platform seeking a plan to
                            target growth and related benefits subject to pre-requisite requirements. Specific Terms and
                            Conditions will apply. For details, please reach out to your account SPOC.

                        </p>

                        <br>
                    </mat-dialog-content>
                    <!-- <mat-dialog-actions>
                        <label class="tncbox"><input type="checkbox" formControlName="terms"> Accept Terms and Conditions</label> -->
                    <!-- <button mat-button [mat-dialog-close]="true" tabindex="1">Accept</button>
                        <button mat-button mat-dialog-close tabindex="-1">Cancel</button> -->
                    <!-- <mat-error *ngIf="!seventhFormGroupValid">
                            The username and password were not recognized
                          </mat-error>
                    </mat-dialog-actions> -->


                </div>
                <br>
                <input class="tncbox" type="checkbox" formControlName="terms"> Accept Terms and Conditions
                <br>
            </mat-card>
            <br>

            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" (click)="stepper.reset()">Reset</button>
                <button mat-stroked-button color="primary" matStepperSubmit type="submit"
                  [disabled]="seventhFormGroup.invalid"(click)="submit()" >Submit</button>
                  <!-- formone.ngSubmit.emit();formtwo.ngSubmit.emit(); -->
                  <!-- (click)=handleLogin() -->
                </div>
        </form>
    </mat-step>


    <!-- <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step> -->
</mat-stepper>

<br><br><br><br><br>
<app-footer></app-footer>