.center {
    text-align: center;
}

table {
    width: 100%;
}

.filterLength {
    width: 100%;
}
.shadow{
    box-shadow: 5px 3px 4px 1px #888888;
    height: 270px;
}

.contentcenter {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 25px;
    padding-left: 50px;
}

#space {
    justify-content: space-evenly;
    padding-right: 100px;
}

.tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.endalign{
    padding-inline-end: 50px;
    padding-top: 20px;
}