<!-- <p>payments works!</p> -->




<mat-card class="shadow">
    <mat-card-title class="tittle">ADVISOR BANK A/C DETAILS </mat-card-title>
    <form [formGroup]="BankFormGroup">

        <mat-card-content class="contentcenter">

            <mat-card class="bankDetails">
                <!-- <div class="row"> -->
                <div class="fieldsPadding">
                    <!-- Beneficiary Name -->
                    <mat-form-field id="space" appearance="outline">
                        <mat-label>Beneficiary Name</mat-label>
                        <input matInput placeholder="First and last name" type="text"
                            formControlName="receivedBeneficiaryName" required>
                        <mat-icon matSuffix>account_balance</mat-icon>
                        <mat-error *ngIf="errorHandling('receivedBeneficiaryName', 'required')">
                            This field is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Bank Name -->
                    <mat-form-field id="space" appearance="outline">
                        <mat-label> Bank Name</mat-label>
                        <mat-select formControlName="receivedSelectedBankName">
                            <mat-option *ngFor="let item of bankNameList" [value]="item.id">
                                {{ item.name}}
                            </mat-option>
                            <mat-error *ngIf="errorHandling('receivedSelectedBankName', 'required')">
                                This field is required
                            </mat-error>
                        </mat-select>
                        <mat-icon matSuffix>account_balance</mat-icon>

                    </mat-form-field>

                    <!-- IFSC Code -->
                    <mat-form-field id="space" appearance="outline">
                        <mat-label>IFSC Code</mat-label>
                        <input matInput placeholder="Ex. SBINXXXXXXX" type="text" formControlName="receivedIfscCode"
                            required>
                        <mat-icon matSuffix>account_balance</mat-icon>
                        <mat-error *ngIf="errorHandling('receivedIfscCode', 'required')">
                            This field is required
                        </mat-error>
                        <mat-error *ngIf="errorHandling('receivedIfscCode', 'pattern')">
                            Please enter a valid IFSC Code
                        </mat-error>
                    </mat-form-field>
                    <!-- </div> -->
                </div>

                <!-- <div class="row"> -->
                <!-- Account number -->
                <mat-form-field id="space" hintLabel="Max 10 characters" appearance="outline">
                    <mat-label>Account number</mat-label>
                    <input matInput #receivedAccountNumber placeholder="Ex. XXXXXXXXXX" minlength="10" type="number"
                        formControlName="receivedAccountNumber" required>
                    <mat-icon matSuffix>account_balance</mat-icon>
                    <mat-hint align="end">{{receivedAccountNumber.value?.length || 0}}/10</mat-hint>
                    <!-- <mat-hint >Max 10 characters</mat-hint>
                    <mat-hint align="end">{{fifthFormGroup.get('receivedAccountNumber').value?.length || 0}}/10</mat-hint> -->
                    <mat-error *ngIf="errorHandling('receivedAccountNumber', 'required')">
                        This field is required
                    </mat-error>
                    <mat-error *ngIf="errorHandling('receivedAccountNumber', 'maxLength')">
                        Mininum number can be 10
                    </mat-error>

                </mat-form-field>

                <!-- Confirm Account number -->
                <mat-form-field id="space" appearance="outline">
                    <mat-label>Confirm Account number</mat-label>
                    <input  matInput placeholder="Ex. XXXXXXXXXX" type="number"
                        formControlName="receivedConfirmAccountnumber" required type="password">
                    <mat-icon matSuffix>account_balance</mat-icon>
                    <mat-error *ngIf="errorHandling('receivedConfirmAccountnumber', 'required')">
                        This field should match Account number
                    </mat-error>

                </mat-form-field>
                <!-- </div> -->
                <br>
            </mat-card>

        </mat-card-content>

        <mat-card-actions class="endalign" align="end">
            <button  mat-stroked-button color="warn" (click)="onEdit(BankFormGroup);enableSave()">{{enableMode?' Update
                Bank A/C':'Cancel'}} </button>
            <button mat-stroked-button [disabled]='this.enableMode' (click)="submit()">Save</button>
            <!-- <button mat-stroked-button color="primary">UPDATE BANK A/C</button> -->
        </mat-card-actions>
    </form>
</mat-card>

<br><br>

<h1 class="center">PAYMENTS</h1>

<mat-form-field class="filterLength">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex.Name ,caseType" (keyup)='applyFilter($event)'>
</mat-form-field>

<div>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>S.No</th>
            <td mat-cell *matCellDef="let row">{{ row.sno }}</td>
        </ng-container>

        <ng-container matColumnDef="clientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
            <td mat-cell *matCellDef="let row">{{ row.clientName }}</td>
        </ng-container>

        <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Place</th>
            <td mat-cell *matCellDef="let row">{{ row.place }}</td>
        </ng-container>

        <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Status</th>
            <td mat-cell *matCellDef="let row">{{ row.payment }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
            <td mat-cell *matCellDef="let row"> {{ row.date }}</td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
            <td mat-cell *matCellDef="let row">{{row.time}}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let row">{{row.amount}}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="id1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Accept</th>
            <td mat-cell *matCellDef="let row">
                 <button mat-button>Accept</button>
                </td>
        </ng-container>
        <ng-container matColumnDef="id2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reject</th>
            <td mat-cell *matCellDef="let row">
                 <button mat-button>Reject</button>
                </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns:columns;"></tr>

    </table>

    <mat-paginator [length]="appointment.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
    </mat-paginator>
</div>
<br><br><br>