<footer>
    <section class="section-top">
      <div class="col ">
        <h3>Useful Links</h3>

          <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#/about">About us</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#/services">Services</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#/blog">Knowledge Insight</a></li>
        
      </div>
      <div class="col">
        <h3>Important Links</h3>
        
        <li><i class="bx bx-chevron-right"></i> <a href="#/legaladvice">Legal Advise</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="#/faqs">FAQ's</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="#/privacyPolicy">Privacy policy</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="#/termsConditions">Terms of service</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="#/contact">Contact Us</a></li>
      </div>
      <div class="col">
        <h3>Being Social</h3>
        <p>Follow Us on Social Media.</p>
          <div class="social-links mt-3">
            <a href="#" target="_blank" class="twitter"><img src="https://img.icons8.com/color/48/null/twitter--v1.png"/></a>
            <a href="https://www.facebook.com/quresolve/" target="_blank" class="facebook"><img src="https://img.icons8.com/color/48/null/facebook.png"/></a>
            <a href="#" target="_blank" class="instagram"><img src="https://img.icons8.com/color/48/null/instagram-new--v1.png"/></a>
            <a href="https://www.linkedin.com/company/nksa-associates/" target="_blank" class="linkedin"><img src="https://img.icons8.com/color/48/null/linkedin.png"/></a>
          </div>
      </div>
      <div class="col">
        <h3>Contact Us</h3>
        <p>
          3015,Sector A, Pocket B&C Vasant Kunj, <br>
          New Delhi, India
        </p>
        <a class="btn btn-primary" href="/#/contact" role="button">Chat Now</a>
        <p>
          <strong>Phone:</strong> +91 99999 26997<br>
          <strong>Email:</strong> support@quresolve.com<br>
        </p>
      </div>
    </section>
    <section class="section-bottom">
      <div>© All Rights Reserved 2023</div>
    </section>
    </footer>