<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
   
    <mat-card fxFlex="30">
        <app-widgets-card label="TOTAL CONSULTATION" total="12k" percentage="50" [data]="cards"></app-widgets-card>
    </mat-card>

    <mat-card fxFlex="30">
        <app-widgets-card label="UPCOMINGCONSULTATION" total="8k" percentage="40" [data]="cards"></app-widgets-card>
    </mat-card>

    <mat-card fxFlex="30">
        <app-widgets-card label="TOTAL HITS" total="4k" percentage="20" [data]="cards"></app-widgets-card>
    </mat-card>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20" class="stats-cards">
   <mat-card fxFlex="100"  >
        <div class="mbox"> ARTICLE: CRITICAL ANALYSIS OF LALITRA KUMARI VS STATE OF UP - JUDGEMENT - SUPREME COURT (CONST. BENCH)
        </div>
        <div class="mbox1">
            <mat-card fxFlex="30" fxLayoutGap="0" >View: 6</mat-card>

            <mat-card fxFlex="30" fxLayoutGap="0">Read: 2</mat-card>

            <mat-card fxFlex="30" fxLayoutGap="0">Shared: 1</mat-card>
        </div>
    </mat-card>
</div>

<br>
<mat-divider></mat-divider>
<br>


<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="50">
        <app-widget-pie [data]="pieChart"></app-widget-pie>
    </div>

    <div fxFlex="50">
        <app-area [data]="bigChart"></app-area>
    </div>
</div>
<br><br>