@import '~bootstrap/scss/bootstrap';



.section{
    display: table;
}

.calender-button-row{
    display: table-cell;
    width: 590px;

    .mat-button-base {
        margin: 8px 8px 8px 0;
      }

      .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
        background-color: #1e4356;
        color: #fff;
    }
}


h3 {
    margin: 0 0 10px;
  }

  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }