<header id="header" class="header-transparent" style="background: #1e4356;">
    <div class="container">

        <!--Header Logo-->
        <div class="logo float-left">
            <a href="index.html"><img src="../../assets/images/Logo/logo.png" height="70px" alt=""
                    class="img-fluid"></a>
        </div>

    </div>
</header>
<br>

<div class="container1">
    <h1>Your Registration Request has been Received. Please Login
        <a routerLink="/login">Here</a>
    </h1>
</div>


<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>


<app-footer></app-footer>